body {
  margin: 0;
  background-color: #363732;
  font-size: 1.2rem;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #faffd8;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  background-image: url("./many-potato.jpg");
  background-position-x: center;
  background-size: cover;
  width: 100vw;
  height: 20rem;
}

#title {
  font-size: 4rem;
  margin: 0.5rem;
}

#navContainer {
  display: flex;
  margin: 1rem;
  font-size: 1.8rem;
  gap: .5rem;
  margin-bottom: 4rem;
}

#navContainer > div {
  padding: 1rem 2rem;
  border-style: solid;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
}

#copy {
  align-items: center;
}

#hours {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#location {
  display: flex;
  flex-direction: column;
  align-items: center;

}